@import "../../../styles/vars";

.comments-container {
  padding: 1rem;
  margin: 1rem auto 2rem auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;

  .add-comment-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .add-comment-label {
      width: 80%;

      .add-comment-textarea {
        font-family: inherit;
        font-size: inherit;
        width: 100%;
        padding: 0.2rem;
      }
    }

    .add-comment-icon-container {
      display: flex;

      .comment-icon {
        font-size: 1.2rem;
        color: $mediumColor;
        margin-left: 0.7rem;
        transition: 0.3s;
      }

      .comment-icon:hover {
        color: $darkColor;
      }
    }

  }

  .comment-button-container {
    text-align: center;
    margin-top: 1rem;

    .comment-button {
      font-family: inherit;
      background-color: $mediumColor;
      color: #ffffff;
      padding: 0.3rem 0.9rem;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      border-radius: 4px;
      border: none;
      transition: 0.3s;

      @media screen and (max-width: 400px) {
        font-size: 0.8rem;
      }
    }

    .comment-button:hover {
      background-color: $darkColor;
    }
  }

  .comment-login-cta {
    display: flex;
    justify-content: center;
    align-items: center;

    .comment-login-cta-link {
      display: inline-flex;
      align-items: center;
      color: $darkColor;
      background-color: rgb(189, 195, 189);
      padding: 0.3rem 0.5rem;
      border-radius: 4px;

      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }

      .info-icon {
        display: inline-flex;
        align-items: center;
        margin-right: 0.5rem;
      }
    }

    &-description {
      color: $darkColor;
      text-align: center;
      transition: 0.3s;
    }

    &-description:hover {
      color: #000000;
    }
  }

  .comments {
    margin-top: 1rem;

    // Comment component starts here
    .no-comment-info {
      display: flex;
      justify-content: center;
      color: $darkColor;
      background-color: rgb(189, 195, 189);
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      margin: 0 auto;

      @media screen and (max-width: 500px) {
        font-size: 0.8rem;
      }

      .no-comment-info-description {
        // display: inline-block;
      }

      .info-icon {
        margin-right: 0.5rem;
      }
    }

    .comment {
      padding-bottom: 0.8rem;

      .comment-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.2rem;

        .comment-author {
          font-weight: 900;
        }

        .comment-date {
          text-align: right;
          font-size: 0.9rem;

          @media screen and (max-width: 350px) {
            font-size: 0.7rem;
          }
        }
      }

      .comment-commands {
        display: flex;
        justify-content: space-between;

        .edit-textarea {
          font-family: inherit;
          font-size: inherit;
          width: 80%;
          height: 5rem;
          padding: 0.2rem;
        }

        .edit-hint {
          margin-top: 0.2rem;
          font-style: italic;
          font-size: 0.8rem;
          color: gray
        }

        .icon-group {
          display: flex;

          .comment-icon {
            font-size: 1.2rem;
            color: $mediumColor;
            margin-left: 0.7rem;
            transition: 0.3s;
          }

          .comment-icon:hover {
            color: $darkColor;
          }
        }
      }
    }
  }
}