@import 'src/styles/_reset.scss';
@import 'src/styles/_vars.scss';


.app {
  font-family: 'Alegreya Sans', sans-serif;
  background: $lightColor;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
}


