@import '../../styles/vars';

.nav {
  height: 80px;
  // margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  // position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;

    .nav-logo {
      display: flex;
      flex-direction: row;

      
    .nav-logo-image {
      width: 40px;
    }

    .nav-brand {
      font-size: 1.2rem;
      margin: auto 0;
      font-weight: 900;
    }
    }
    

    .nav-items {
      display: flex;

    }


    .nav-item {
      display: block;
      color: $darkColor;
      margin: 1em 1.5em;
      text-decoration: none;

      &:hover {
        color: #777;
      }

      &.nav-item-active {
        color: blue;
      }
    }
  }
}