@import '../../styles/vars';

.nav {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  // position: sticky;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  font-size: 1.5rem;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;

    .nav-item-active {
      color: $darkColor !important;
      font-weight: 900;
    }

    .nav-logo {
      display: flex;
      flex-direction: row;


      .nav-logo-image {
        width: 40px;
      }

      .nav-brand {
        margin: auto 0.5rem;
        font-weight: 900;
      }
    }

    .nav-items {
      display: flex;

    }

    .nav-item {
      display: block;
      color: $darkColor;
      margin: 1em 1.5em;
      text-decoration: none;

      &:hover {
        color: $mediumColor;
      }

      &.nav-item-active {
        color: $mediumColor;
        font-weight: 700;
      }
    }
  }
}